/Othello_Distribuible/Othello/Abracitos/build/
/Othello_Distribuible/Othello/Abracitos/dist/
/Othello_Distribuible/Othello/Abracitos/nbproject/private/
/Othello_Distribuible/Othello/build/
/Othello_Distribuible/Othello/nbproject/private/
/Othello_Distribuible/Othello/dist/
